<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
    <h2 class="text-center mb-4">Change Password</h2>

    <%= form_for(@user, url: update_password_path, html: { method: :put, class: "needs-validation" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <div class="mb-3">
        <%= f.label :current_password, class: "form-label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        <div class="form-text">(We need your current password to confirm changes)</div>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <div class="form-text"><%= @minimum_password_length %> characters minimum</div>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="d-grid">
        <%= f.submit "Update Password", class: "btn btn-primary" %>
      </div>
    <% end %>

    <hr class="my-4">

    <div class="text-center">
      <%= link_to "Back", edit_profile_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
