<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :about, style: "display: block" %>
    <%= form.text_field :about %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :launch_date, style: "display: block" %>
    <%= form.date_field :launch_date, class: "date-input", placeholder: "YYYY-MM-DD" %>
  </div>


  <div>
    <%= form.label :writer, style: "display: block" %>
    <%= form.text_field :writer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
