<p class="notice"><%= notice %></p>

<h1>📚 Books</h1>

<div id="books">
  <% @books_data.each do |book| %>
    <div class="book-card">
      <%= render book %>
      <p>
        <%= link_to "Show this book", book, class: "btn" %>
      </p>
    </div>
  <% end %>
</div>

<!-- Pagination -->
<div class="pag-bar mt-5 d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<%= link_to "➕ Add book", new_book_path, class: "btn" %>
