<p class="notice"><%= notice %></p>

<div class='book-card'>
  <%= render @book %>
</div>

<div>
  <%= link_to "âœï¸ Edit this book", edit_book_path(@book), class: "btn" %> |
  <%= link_to "â¬…ï¸ Back to books", books_path, class: "btn" %>
  <%= button_to "ðŸ—‘ï¸ Destroy this book", @book, method: :delete, class: "btn", data: { confirm: "Are you sure?" } %>
</div>